/* Index / Welcome page Panel Animation */
.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.panel {
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1;
    transition: 
        font-size .3s,
        flex .3s;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    background-size: cover;
}

.panel > * {
    margin: 0;
    width: 100%;
    transition:transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel1 {
    background-image: url(../images/landscape.jpg);
    box-shadow: inset 0 0 0 1000px rgba(135, 206, 235,.5);
    color: #8b0000;
}

.panel2 {
    background-image: url(../images/trees.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0,.2);
    color: #FF9400;
}

.panel3 {
    background-image: url(../images/boulder.jpg);
    box-shadow: inset 0 0 0 1000px rgba(16,64,16,.5);
    color: #C0E9FF;
}

.panel4 {
    background-image: url(../images/clouds.jpg);
    box-shadow: inset 0 0 0 1000px rgba(240,248,255,.3);
    color: #3A677F;
}

.panel5 {
    background-image: url(../images/flowers.jpg);
    box-shadow: inset 0 0 0 1000px rgba(255,142,179,.5);
    color: #1D3440;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}

.panel.open {
    flex: 8;
    font-size: 2.5rem;
}

.panel p:nth-child(2) {
    font-size: 3.2rem;
}

.welcome-icon {
    font-size: 3.5rem;
}

.github {
    color: #8b0000;
}

.github:hover {
    color: #C0E9FF;
}

.linkedin {
    color: #1D3440;
}

.linkedin:hover {
    color: #C0E9FF;
}

/* ===================================================================== */

/* Start of main.html */

/* Navigation bar */

body {
    font-family: 'Didact Gothic', sans-serif;
    background-image: url(../images/background.png);
    background-color: #FFC276;
}

nav {
    background-color: #FFC276;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-brand,
.nav-link {
    color: #1D3440;
    letter-spacing: .05rem;
    font-size: 1.3rem;
}

.jumbotron-fluid {
    height: 30rem;
    background-image: url(../images/jumbo.jpg);
    background-color: #9abfc0;
    background-size: 100% 100%;
}

.display-4 {
    color: #1D3440;
    font-size: 5.2rem;
    line-height: 1.5;
    margin-top: 1.5rem;
    letter-spacing: .1rem;
}

/* About section */
.about {
    margin-top: -2rem;
    background-color: #FFC276;
    color: #1D3440;
    padding-bottom: 7rem;
}

.title {
    font-size: 3rem;
    margin: 3rem 0;
    color: #1D3440;
    letter-spacing: .1rem;
}

.text {
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: .05rem;
    padding: .5rem;
    height: 52rem;
    overflow-y: scroll;
}

.text::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.skills-heading {
    font-weight: bold;
    text-align: center;
}

.skill {
    color: #CC6B48;
}

/* Projects */

.projects {
    padding-bottom: 4rem;
}

.card-container {
    height: 75rem;    
    overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.project-title {
    color: #FFC276;
    font-size: 3rem;
    margin: 3rem 0;
    letter-spacing: .1rem;
}

.btn {
    background-color: rgba(204,107,72,.75);
    border: 1px solid  rgb(204,107,72);
    margin: 0 .2rem;
    color: #1D3440;
}

.btn:hover {
    background-color: #FFC276;
    border: 1px solid #1D3440;
    color: #1D3440;
}

.card {
    margin: 1rem;
    width: 100%;
    font-size: 1.3rem;
    background-color: #FFC276;
    color: rgba(29, 52, 64,.8);
    border: none;
}

/* Contact */

.contact {
    background-color: #A5DEFF;
    padding-bottom: 2rem;
}

.fa-envelope,
.fa-github,
.fa-linkedin-in {
    font-size: 3rem;
    padding-right: 2.5rem;
    color: #1D3440;
}

.fa-mobile-alt,
.fa-file-alt {
    font-size: 2.5rem;
    padding-right: 3rem;
    color: #1D3440;
}

.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin-in:hover,
.fa-mobile-alt:hover,
.fa-file-alt:hover,
a:hover {
    color: #CC6B48;
}

.social {
    margin: 0 2rem 2rem 1rem; 
}

/* Footer */
.footer {
    background-color: #FFC276;
    height: 2rem;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .display-4 {
        font-size: 5.2rem;
        margin-top: 2.5rem;
    }

    .welcome-icon {
        font-size: 2.5rem;
    }

    .panel p:nth-child(2) {
        font-size: 2.5rem;
    }

    .panel {
        font-size: 1.75rem;
    }    

    .panel2,
    .panel4 {
        display: none;
    }
}

/* nav toggler on mobile screens */
.fa-sistrix {
    color: #1D3440;
}

@media screen and (max-width: 640px) {
    .display-4 {
        font-size: 5rem;
        margin-top: 3.5rem;
    }

    .jumbotron-fluid {
       
        background-size: cover;
    }
}

@media screen and (max-width: 410px) {
    .display-4 {
        font-size: 3.5rem;
        margin-top: 6.5rem;
    }

    .text {
        font-size: 1.6rem;
        line-height: 1.7;
        letter-spacing: .05rem;
        padding: .5rem;
        height: 35rem;
        overflow-y: scroll;
    }

    .fa-envelope,
    .fa-github,
    .fa-linkedin-in,
    .fa-mobile-alt,
    .fa-file-alt {
        padding: 1rem;
    }

    .panel1,
    .panel5 {
        display: none;
    }
}